body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  .container {
    border: 1px solid #CCCFFF;
    padding: 2%;
  }

  .main-content {
    background-color: #CCCFFF;
  }

  nav {

    a {
      display: inline-block;
      margin: 0.25em 1em;
      color: #CCCFFF;
    }
  }

  .nav-top {
    font-size: 2.5vh;
    border-bottom: 1px solid #DDD;
  }

  .auth-container {
    display: flex;
    justify-content: space-between;
  }

  form div {
    display: inline-block;

    .add-race {
      .comments {
        display: block;
        width: 100vw;
        color: red;
      }
    }
  }

  .apis {
    height: 7vh;
    text-align: center;
    margin: 1%;
    display: none;

    img {
      height: 100%;
      padding-right: 3%
    }

    span {
      height: 100%;
      padding-right: 3%;
      font-size: 1em;
    }
  }

  .oaths {
    display: none;
  }
}

@media only screen and (min-width : 768px) {
  .add-race {
      .comments {
        display: inline;
        margin-left: 1%;
      }
    }
}